.container{
    border: 8px solid black;
}
.row{
    border: 3px solid red;
}
.green{
    background:  green;
}
.pink{
    background: pink;
}
.blue{
    background: blue;
}
.orange{
    background: orange;
}
